<div class="summary-page">
  <div class="summary-page__header">
    <div class="card text-center w-100">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">Welcome</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a [routerLink]="['/navigator']" [queryParams]="{tab: 0}" class="btn btn-primary">See transactions</a>
      </div>
      <div class="card-footer">You have 100 transactions</div>
    </div>
  </div>

  <ul class="cards-list">
    <li class="cards-list__item">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">123</h5>
          <p class="card-text mb-4">Income</p>
          <a href="#" class="btn btn-primary float-right w-75">See all</a>
        </div>
      </div>
    </li>
    <li class="cards-list__item">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">123</h5>
          <p class="card-text mb-4">Investments</p>
          <a href="#" class="btn btn-primary float-right w-75">See all</a>
        </div>
      </div>
    </li>
    <li class="cards-list__item">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">123</h5>
          <p class="card-text mb-4">Outcome</p>
          <a href="#" class="btn btn-primary float-right w-75">See all</a>
        </div>
      </div>
    </li>
    <li class="cards-list__item">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">123</h5>
          <p class="card-text mb-4">Loans</p>
          <a href="#" class="btn btn-primary float-right w-75">See all</a>
        </div>
      </div>
    </li>
  </ul>
</div>
